* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(yellow, red);
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    font-size: 40px;
    font-weight: bold;
    color: #FFF;
    font-style: italic;
}